body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    scrollbar-track-color: #606060;
    scrollbar-base-color: #ababab;
    scrollbar-arrow-color: #ababab;
}

/*::-webkit-scrollbar              { 
    /* color: #ff0000; 
}
::-webkit-scrollbar-button       { 

}
::-webkit-scrollbar-track        { 
    color: #ff0000;
}
::-webkit-scrollbar-track-piece  { 
    color: #606060;
}
::-webkit-scrollbar-thumb        { 
    color: #ff0000;
}
::-webkit-scrollbar-corner       { 
    color: #ff0000;
}
::-webkit-resizer                {}*/

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background: #ababab;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 

::-webkit-scrollbar-thumb {
    background: #606060;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    height: 20px;
}

.page {
    position: relative;
    /* max-width: 1200px; */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    min-height: 710px;
    overflow: hidden;
    margin: 0 auto;
    height: auto;
}

.clear { clear: both; }
.top_wrap {
    position: absolute;
    top: 20px;
    background: url('../image/bg_top.png');
    width: 100%;
    min-height: 47px;
    white-space: nowrap;
    z-index: 1001;
    padding: 0 30px;
}

.top_wrap .top {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    /* max-width: 1200px; */
}

.header_top {
    /* max-width: 1200px; */
    /* margin: 0 auto; */
}

.top_wrap .col {display: inline-block;vertical-align: middle;}
.top_wrap .col:nth-child(1) { width: 33%; max-height: 100%; height: 100%; }
.top_wrap .col:nth-child(2) { width: 33%; text-align: center; white-space: normal;}
.top_wrap .col:nth-child(3) {top: 35px;width: 33%;text-align: right;}

.top_wrap .logo {
    display: block;
    height: 42px;
    background: url('../image/logo.png') no-repeat;
    background-size: auto 100%;
    width: 185px;
    margin-top: -20px;
    position: absolute;
}

.top_wrap h1 {
    font-size: 172%;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    padding: 0;
    margin: 13px 0;
}
.top_wrap .col:nth-child(2) span { vertical-align: middle; }
.top_wrap .icons {top: 16px;}
.top_wrap .icons > a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 2.4em;
}
.top_wrap .icons > a img {
    max-width: 100%;
    vertical-align: middle;
}
.top_wrap .icons > a:hover img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.top_wrap .icons > a span {
    position: absolute;
    right: 10%;
    margin-top: 60px;
    color: #fff;
    padding: 10px 20px;
    background: url('../image/bg_top.png');
    text-align: right;
    font-size: 1.2em;
    transition: visibility 0s, opacity 0.5s linear;
    visibility: hidden;/*
    opacity: 0;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.popup {
    display: none;
    position: absolute;
    right: 10%;
    margin-top: 42px;
    color: #fff;
    padding: 12px 20px;
    background: url('../image/bg_top.png');
    text-align: right;
    font-size: 1.2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 5000;
    max-width: 80%;
    white-space: normal;
}

#feedback-box {
    margin-top: 20px;
    background: url('../image/bg_top.png');
    clear: both;
    padding: 15px 15px 1px 15px;
    margin-top: 0px;
    /* background: #f4f7fa; */
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

#feedback-box .box-heading {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

#feedback-box .box-heading div {
    font-size: 12px;
    font-weight: normal;
    margin-top: 4px;
}

#feedback-box .msg_error {
    /* position: absolute; */
    width: 100%;
    text-align: center;
    /* bottom: 48px; */
    left: 0px;
    color: #e84141;
    display: none;
    /* font-size: 12px; */
    margin-bottom: 10px;
}

#feedback-box .elem {
    margin-bottom: 15px;
    overflow: hidden;
}

#feedback-box .elem > div:first-child {
    margin-left: 0px;
}


#feedback-box .elem > div {
    float: left;
    width: 32%;
    margin-left: 2%;
}

#feedback-box .elem input[type="text"], #feedback-box .elem input[type="email"], #feedback-box .elem textarea {
    display: inline-block;
    width: 100%;
    padding: 8px 8px;
    border-radius: 6px;
    font-size: 11px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #fafefd;
    border: 1px solid #CCCCCC;
    padding: 3px;
    margin-left: 0px;
    margin-right: 0px;
}

input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder {
    color: black;
}
input[type="text"]:focus::-webkit-input-placeholder {color: transparent}
input[type="text"]:focus::-moz-placeholder          {color: transparent}
input[type="text"]:focus:-moz-placeholder           {color: transparent}
input[type="text"]:focus:-ms-input-placeholder      {color: transparent}

input[type="email"]:focus::-webkit-input-placeholder {color: transparent}
input[type="email"]:focus::-moz-placeholder          {color: transparent}
input[type="email"]:focus:-moz-placeholder           {color: transparent}
input[type="email"]:focus:-ms-input-placeholder      {color: transparent}

textarea:focus::-webkit-input-placeholder {color: transparent}
textarea:focus::-moz-placeholder          {color: transparent}
textarea:focus:-moz-placeholder           {color: transparent}
textarea:focus:-ms-input-placeholder      {color: transparent}

span.button {
    display: inline-block;
    text-decoration: none;
    padding: 9px 0;
    width: 169px;
    color: #fff;
    height: 19px;
    background: url(../image/button-blue.png) no-repeat;
    font: 12px Arial, Verdana, sans-serif;
    text-shadow: -1px -1px 2px #5f9fdd;
    text-align: center;
}

.button_form {
    margin: 10px 0;
    display: inline-block;
    width: 15em;
    font-size: 80%;
    color: rgba(0, 0, 0, 0.9);
    /* text-shadow: #2e7ebd 0 1px 2px; */
    text-decoration: none;
    text-align: center;
    line-height: 1.1;
    white-space: pre-line;
    padding: .7em 0;
    border: 0px solid;
    /* border-color: #60a3d8 #2970a9 #2970a9 #60a3d8; */
    border-radius: 6px;
    outline: none;
    background: #d8e3f8;
    font: 8px Arial, Verdana, sans-serif;
}

.button_form:first-line{
    font-size: 170%;
    font-weight: 700;
}
.button_form:hover {
    /* color: #d8e3f8; */
    //
    background-image: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
    -webkit-transition: all 0.5s ease-in-out 0.5s;
    -moz-transition: all 0.5s ease-in-out 0.5s;
    -o-transition: all 0.5s ease-in-out 0.5s;
    transition: all 0.5s linear 0.5s;
    background: #c0d0ef;
}
.button_form:active {
    color: rgb(255,255,255);
    border-color: #2970a9;
    background-image: linear-gradient(#5796c8, #6aa2ce);
    box-shadow: none;
}

.arrow_down {
    display: none;
    bottom: 25px;
    z-index: 1001;
    width: 100%;
    margin: 0 auto;
    margin: 10px 0px 0 0px;
}

.content {
    color: black;
    margin: 70px auto;
    width: 100%;
}

.content h1 {
    text-align: center;
}

.content p {
    text-align: left;
    font-size: 13px;
    margin: 0;
    font-weight: 600;
    margin-bottom: 10px;
    margin-bottom: 5px;
}

.title_text {
    margin: 0px 0px 20px 0px;
}

.images_title {
    margin: 50px 0 0px 0;
}

.images_item_first, .images_item_second {margin: 0px -15px 0 -15px;}

.images_item_long {margin: 0px -15px 20px -15px;}

.footer {
    background: url('../image/bg_top.png');
    position: relative;
    bottom: 0px;
    width: 100%;
    padding: 10px 0px;
    z-index: 1001;
    /* max-width: 1200px; */
    margin: 0px auto;
    padding: 20px 30px;
    font-size: 14px;
}
.footer a {
    text-decoration: underline;
    color: white;
    -webkit-transition: all 1s ease-out 0.5s;
    -moz-transition: all 1s ease-out 0.5s;
    -o-transition: all 1s ease-out 0.5s;
    transition: all 1s ease-out 0.5s;
}

.footer .row {margin: 0px auto;width: 100%;/* padding: 0 30px; *//* max-width: 1200px; */}

.footer .col { display: inline-block; vertical-align: middle; }

.footer .col:nth-child(1) {width: 49%;max-height: 100%;height: 100%;}
.footer .col:nth-child(1) a:hover { text-decoration: none;}
.footer .col:nth-child(2) {width: 50%;text-align: right;white-space: normal;}
.footer .col:nth-child(2) a:hover { text-decoration: none; }
.footer .col:nth-child(3) { width: 33%; text-align: right; }

.scroll {

    }

@media only screen and (max-width: 1100px) {
    .top_wrap h1 { font-size: 150%; }
}

@media (min-width: 1200px){

    .left_column {
        width: 350px;
    }

    .scroll {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .top_images_item {
        display: none;
    }

    .md_form {
        display: none;
    }

    .lg_form {
        display: block;
    }


    .right_column {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) { 

    .top_images_item {
        display: none;
    }

    .md_form {
        display: block;
    }

    .lg_form {
        display: none;
    }

    .scroll {
        overflow-y: auto;
        overflow-x: hidden; 
    }

    #feedback-box {
        /* margin-top: 19px; */
        background: url('../image/bg_top.png');
        clear: both;
        padding: 15px 15px 1px 15px;
        top: 15px;
        /* background: #f4f7fa; */
        position: relative;
        width: 100%;
        margin-bottom: 30px;
    }

    #feedback-box .box-heading {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 10px;
    }

    #feedback-box .box-heading div {
        font-size: 14px;
        font-weight: normal;
        margin-top: 4px;
    }

    #feedback-box .msg_error {
        /* position: absolute; */
        width: 100%;
        text-align: center;
        /* bottom: 9px; */
        left: 0px;
        color: #e84141;
        display: none;
        /* font-size: 12px; */
        margin-bottom: 10px;
    }

    #feedback-box .elem {
        /* display: inline-block; */
        /* margin-bottom: 15px; */
        overflow: hidden;
    }

    #feedback-box .elem > div:first-child {
        margin-left: 0px;
    }

   
    #feedback-box .elem > div {
        float: left;
        width: 32%;
        margin-left: 2%;
    }

    #feedback-box .elem input[type="text"], #feedback-box .elem input[type="email"], #feedback-box .elem textarea {
        display: inline-block;
        width: 100%;
        padding: 8px 14px;
        border-radius: 6px;
        font-size: 12px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}


@media (min-width: 767px) and (max-width: 992px) {

    .scroll {
        overflow-y: auto;
        overflow-x: hidden; 
    }

    .row-fluid {
        margin: 0;
    }

    .top_images_item {
        display: none;
    }

    .md_form {
        display: none;
    }

    .lg_form {
        display: block;
    }

    #feedback-box {
        margin-top: 20px;
        background: url('../image/bg_top.png');
        clear: both;
        padding: 9px 15px 0 15px;
        margin-top: 0px;
        /* background: #f4f7fa; */
        position: relative;
        width: 100%;
        margin-bottom: 15px;
    }

    #feedback-box .box-heading {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 0px;
    }

    #feedback-box .box-heading div {
        font-size: 12px;
        font-weight: normal;
        margin-top: 4px;
    }

    #feedback-box .msg_error {
        width: 100%;
        text-align: center;
        left: 0px;
        color: #e84141;
        display: none;
        /* font-size: 12px; */
        margin-bottom: 10px;
    }

    #feedback-box .elem {
        /* display: inline-block; */
        margin-bottom: 0px;
        overflow: hidden;
    }

    #feedback-box .elem > div:first-child {
        margin-left: 0px;
    }

    #feedback-box .elem > div {
        float: none; 
        width: 100%; 
        margin-left: 0; 
    }

    #feedback-box .elem input[type="text"], #feedback-box .elem input[type="email"], #feedback-box .elem textarea {
        margin: 5px 0 0 0;
        display: inline-block;
        width: 100%;
        padding: 8px 14px;
        border-radius: 6px;
        font-size: 12px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .button_form {
        margin: 10px 0;
    }

}



@media (max-width: 767px) {
    .top_wrap {
        position: absolute;
        top: 0px;
        width: 100%;
        min-height: 120px;
        z-index: 1001;
        padding: 0 30px;
    }

    .top_wrap .col {
        display: block;
        margin: 0 auto;
    }

    .top_wrap .col:nth-child(1) {
        text-align: center;
        width: 100%;
        width: 185px; 
        height: 50px;
    }
    .top_wrap .col:nth-child(2) {
        width: 100%; 
        white-space: normal;
    }
    .top_wrap .col:nth-child(3) {
        top: 35px;
        width: 100%;
        text-align: center;
    }

    .top_wrap .logo {
        background: url('../image/logo.png') no-repeat;
        background-size: auto 100%;
        margin: 5px auto;
        text-align: cennter;
    }

    .top_wrap h1 {
        font-size: 172%;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        margin: 0px auto 15px;
        text-align: center;
    }
    .top_wrap .col:nth-child(2) span { vertical-align: middle; }
    .top_wrap .icons {top: 16px;}
    .top_wrap .icons > a {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        width: 2.4em;
    }
    .top_wrap .icons > a img {
        max-width: 100%;
        vertical-align: middle;
    }
    .top_wrap .icons > a:hover img {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
    }
    .top_wrap .icons > a span {
        position: absolute;
        right: 10%;
        margin-top: 60px;
        color: #fff;
        padding: 10px 20px;
        background: url('../image/bg_top.png');
        text-align: right;
        font-size: 1.2em;
        transition: visibility 0s, opacity 0.5s linear;
        visibility: hidden;/*
        opacity: 0;*/
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .popup {
        display: none;
        position: absolute;
        right: 5%;
        margin-top: 70px;
        color: #fff;
        padding: 12px 20px;
        background: url('../image/bg_top.png');
        text-align: right;
        font-size: 1.2em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        z-index: 5000;
        max-width: 80%;
        white-space: normal;
    }

    .arrow_down {
        display: block;
    }

    .arrow_down img {
        margin: 0 auto;
    }

    .content {
        margin: 0px 0;
    }


    #feedback-box {
        margin-top: 20px;
        background: url('../image/bg_top.png');
        clear: both;
        padding: 15px 10px 1px 10px;
        margin: 0px 0px 0 0px;
        /* background: #f4f7fa; */
        position: relative;
        width: 100%;
        margin-bottom: 5px;
    }

    #feedback-box .box-heading {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 15px;
    }

    #feedback-box .box-heading div {
        font-size: 12px;
        font-weight: normal;
        margin-top: 4px;
    }

    #feedback-box .msg_error {
        width: 100%;
        text-align: center;
        left: 0px;
        color: #e84141;
        display: none;
        margin-bottom: 10px;
    }

    #feedback-box .elem {
        margin-left: 0;
        overflow: hidden;
    }

    #feedback-box .elem > div {
        margin-bottom: 2%;
        float: none;
        width: 100%;
        margin-left: 0;
    }

    #feedback-box .elem > div:first-child {
        margin-left: 0;
    }

    .form {
        
        width: 100%;
        
        margin: 0px 0px 0 0px;
    }

    .row-fluid {
        margin: 0px -30px 0 -30px;
    }

    #feedback-box .elem input[type="text"], #feedback-box .elem input[type="email"], #feedback-box .elem textarea {
        display: inline-block;
        width: 100%;
        padding: 8px 2px;
        border-radius: 6px;
        font-size: 12px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .button_form {
        margin: 0px 0;
    }

    .top_images_item {
        display: block;
        z-index: 1001;
        margin: 0px -25px;
    }
    
    .images_title {
        margin: 0px 0 0 0;
    }

    .images_item_first {
        display: none;
    }

    .images_item_second  {
        margin: 0px -45px 5px -45px;
    }

    .images_item_long {margin: 0px -45px 5px -45px;}


    .md_form {
        display: none;
    }

    .lg_form {
        display: block;
    }

    .footer {
        height: 110px;
        background: url('../image/bg_top.png');
        position: relative;
        bottom: 0px;
        width: 100%;
        padding: 10px 0px;
        z-index: 1000;
        /* max-width: 1200px; */
        margin: 0 auto;
        padding: 10px 30px;
    }
    .footer a {
        text-decoration: underline;
        color: white;
        -webkit-transition: all 1s ease-out 0.5s;
        -moz-transition: all 1s ease-out 0.5s;
        -o-transition: all 1s ease-out 0.5s;
        transition: all 1s ease-out 0.5s;
    }

    .footer .row {margin: 0 auto;width: 100%;/* padding: 0 30px; */max-width: 1200px;}

    .footer .col { display: inline-block; vertical-align: middle; }

    .footer .col:nth-child(1) {position: relative;width: 100%;max-height: 100%;height: 100%;top: 35px;}
    .footer .col:nth-child(1) a:hover { text-decoration: none;}
    .footer .col:nth-child(2) {top: -45px;position: relative;width: 100%;text-align: center;white-space: normal;}
    .footer .col:nth-child(2) a:hover { text-decoration: none; }
    .footer .col:nth-child(3) {position: relative;width: 100%;text-align: right;top: -22px;}
}


